PORT=
NODE_ENV=

JWKS_URL=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ALGORITHM=

INVITE_TOKEN_SECRET=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=
DB_SSL=
DB_RETRY_ATTEMPTS=
DB_RETRY_DELAY=

BREVO_SMTP_HOST=
BREVO_SMTP_PORT=
BREVO_USERNAME=
BREVO_PASSWORD=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_REGION=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
tls=

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_SSL=
